.button {
    padding: 15px 30px;
    background: #1B1B1D;
    box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
    border-radius: 63px;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    transition: 0.1s linear;
    &:hover{
        background: gray;
    }
}
@media (max-width:700.98px) {
    .button {
        padding: 13px 12px;
        font-weight: 400;
        font-size: 13px;
    }
    .header__cart {
        margin: 0 20px 0 20px;
        padding-bottom: 4px;
        position: relative;
    }
}
@media (max-width: 390.98px){
    .button {
        padding: 5px 12px;
        font-size: 7px;
        
    }
}
