.main {
    background: #EEEFF1;
}

.main__container {
    display: flex;
    padding-top: 100px;
    height: 100%;
    padding-bottom: 160px;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 1;
}

.main__title {
    font-weight: 800;
    font-size: 8rem;
    line-height: 140px;
    color: #1B1B1D;
    padding-bottom: 30px;
}

.main__subtitle {
    font-size: 24px;
    line-height: 35px;
    color: #64646A;
    padding-bottom: 60px;
}

.main__btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn__main {}

.btn__download {
    padding: 13px 12px;
    font-weight: 400;
    font-size: 13px;
}

.button {}

.btn__shop {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1B1B1D;
    border-bottom: 1px solid #1B1B1D;
    transition: 0.05s linear;

    &:hover {
        color: #64646A;
        border-bottom: 1px solid #64646A;
    }
}

.main__img {
    width: 50%;

    img {
        width: 100%;
    }
}

@media (max-width:1306px) {
    .main__title {
        font-size: 5rem;
        line-height: 95px;
    }
}
@media (max-width:1000px){
    .main__container{
        padding-bottom: 80px; 
    }
}
@media (max-width:992px) {
    .header__cart {
        margin: 0 20px 0 20px;
    }
}


@media (max-width:767.98px) {
    .main__container {
        display: flex;
        padding-bottom: 60px;
    }

    .main__title {
        font-size: 4rem;
        line-height: 75px;
    }

    .main__img {
        width: 65%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }
}

@media (max-width:590px) {
    .main__container {
        padding-top: 0;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .main__content {
        width: 100%;

        .main__title {
            font-size: 5rem;
            line-height: 97px;
        }
    }
}

@media (max-width:430px) {
    .main__content .main__title {
        font-size: 3.6rem;
        line-height: 56px;
    }

    .btn__shop {
        font-size: 14px;
    }
}