.instant {
    position: relative;
    &::after {
        background-image: url(../img/bg-cup3.png);
        background-repeat: no-repeat;
        background-size: auto;
        content: '';
        position: absolute;
        width: 259px;
        height: -webkit-fill-available;
        left: 0px;
        top: 40px;
        z-index: 1;
    }
}

.instant__container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 2;
}
@media (max-width:1000px){
    .instant__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.instant__right-side {
    width: 50%;

    img {
        width: 100%;
    }
}

.instant__left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.instant__title h3 {
    text-align: left;
}

.title {}

.instant__subtitle {
    padding: 30px 0 60px 0;
}

.subtitle {}

.instant__button {}

.button {}

@media (max-width:992px) {
    .instant__container {
        flex-direction: column;
    }

    .instant__right-side {
        width: 100%;
        padding-top: 30px;
        img {
            width: 100%;
        }
    }

    .instant__left-side {
        width: 100%;
    }

    .instant__title {
        text-align: center;
        margin: 0 auto;
    }

    .instant__subtitle {
        text-align: center;
    }

    .instant__left-side {
        text-align: center;
    }
    .instant__button {
        padding: 15px 30px;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
    }
}