.customers {
}

.customers__container {
    display: flex;
    margin-bottom: 100px;
}

@media (max-width:992px) {
    .customers__container {
        flex-direction: column-reverse;
    }
}

.customers__slider {
    width: 50%;
    overflow: hidden;
}

@media (max-width:992px) {
    .customers__slider {
        width: 100%;
        max-width: 460px;
        margin:0 auto ;
        overflow: visible;
    }
}

.slider {}

.slider__wraper {}

.swiper-container {}

.slider__line {}

.swiper-wrapper {}


.slider__item {
    max-width: 468px;
    background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
    border-radius: 16px;
    direction: ltr;
}

.swiper-slide {}

.slider__item-foto {
    width: 100%;

    img {
        width: 100%;
    }
}

.slider__item-name {
    margin-top: 40px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #1B1B1D;
    gap: 30px;
}

.slider__item-comment {
    font-size: 20px;
    line-height: 30px;
    color: #1B1B1D;
    padding: 40px;
}

.customers__right-bar {
    width: 50%;
    padding-left: 100px;
}

@media (max-width:992px) {
    .customers__right-bar {
        width: 100%;
        padding-left: 0;
    }
}

.customers__title {}

.title {}

.customers__rating {
    display: flex;
    align-items: center;
    gap: 24px;

}

.customers__ratin-number {
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #1B1B1D;

}

.customers__ratin-star {
    font-size: 20px;
    line-height: 28px;
    color: #64646A;
}

.slider-buttons {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.slider-button {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(205, 209, 214, 1.28);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50px;
    border: none;
}

@media (max-width:992px) {
    .slider-button {
        display: none;
    }
}
